# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Makefile
sdkconfig.ci
sdkconfig
sdkconfig.old
build
CMakeFiles
config
flash*
ldge*
partition_table
project_*
cmake_install.cmake
CMakeCache.txt
.bin_timestamp
esp-idf
kconfig_bin
mconf-idf-prefix
config.env
bootloader*
*.bin
compile_commands.json
kconfigs.in
kconfigs_projbuild.in
